<div class="settings-dialog">
  <!-- Color -->
  <div class="settings-group">
    <div class="checkbox-list">
      @for (color of colors; track color.value) {
        <label class="checkbox-item">
          <input
            type="radio"
            [checked]="color.checked"
            (change)="onColorChange(color.value)"
            name="color"
          />
          <span>{{ color.label }}</span>
        </label>
      }
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="dialog-actions">
    <div>
      @if (saveFeedbackMessage) {
        <p class="saveSettingsFeedback">{{ saveFeedbackMessage }}</p>
      }
    </div>
    <button
      (click)="doSaveSettings()"
      (keydown.enter)="doSaveSettings()"
      type="button"
      class="tab-button"
    >
      @if (isSavingSettings) {
        ⧗ {{ 'Saving...' }}
      } @else {
        {{ 'Save' }}
      }
    </button>
  </div>
</div>
